.my-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
    

}
.contact-title h1{
    padding:0px 30px;
    font-size: 40px;
    font-weight: 600;
    
}
.contact-title img{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: -1;
   width:200px;    
}
.custom-msg textarea{
  font-size: 20px;
  height: 140px !important;
}

.p-class{
    font-size: 20px;
}
.h-class{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 80% , #B145FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.submit{
    border-radius: 25px !important;
    background: linear-gradient(264deg,#DF8908  20%,#B145FF 100%) !important;
    padding: 10px 10px !important;
    font-size: 15px !important;
    width:150px !important;
}
.submit:hover{
    transition: 0.3s;
    transform: scale(1.1);
}