
.custom-gradient {
    background: linear-gradient(90deg, #DA7625, #B415FF);
    color: white;
    transition: transform 0.3s;
  }
  
  .custom-gradient:hover {
    
    transform: scale(0.9);
  }
  
 
  
  .hover-border:hover {
    border: 4px;
    border-color: white;
  }
  
  .custom-hover-border {
    border-color: transparent;
    transition: border-color 0.3s;
  }
  
  .custom-hover-border:hover {
    border-color: #B415FF; /* Your desired pink color */
  }
  
.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Makes text transparent to show gradient */
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .custom-hr {
    
    height: 8px; 
    background: linear-gradient(90deg, #DF8908 40% , #B415FF 100%); 
    border: transparent;
   
  }
  
  .custom-div:hover {
    transform: scale(1.1);
  }
  .custom-div{
    transition: transform 0.5s; 
  }
 
  .about-title{
    position: relative;
  }
  .about-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
  }
  .about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width:240px;
  }

  .anchor-link{
    text-decoration: none;
    color: white;
  }

  .logo{
    width:150px;
    height:150px;
  }
 
  .img-cover{
    border-radius: 50%;
    width:200px;
    height: 200px;
  }



.list{
  width:40px;
  background-color:#8a0db8;
}

/* .about p{
  font-size: 10px !important;
} */
  


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .menu-container {
    position: relative;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .menu-list li {
    margin: 0.5rem 0;
  }
  
  .menu-list.d-md-flex {
    flex-direction: row;
  }
  
  .anchor-link {
    text-decoration: none;
    color: inherit;
  }
  
  .connect-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #6e0dd0, #8a0db8);
    color: white;
    border-radius: 1rem;
  }
  
  .connect-btn p {
    margin: 0;
  }
  